html {
    font-family: 'Helvetica';
    height: 100%;
}

body {
font-family: 'Helvetica';
height: 100%;
}

h1,
.h1 {
font-family: 'Helvetica';
text-align: center;
}

.content-container {
    margin-left: 4%;
    margin-right: 4%;
    min-height: 100%;
}

.form-group {
    margin-bottom: 8px;
}